$color-dark: #111827;
$color-gray-1: #9CA3AF;
$color-gray-2: #6B7280;
$color-orange-1: #FE5F41;
$color-orange-2: #ec583a; 
$color-white: #fff;
$color-light-pink: #FEF2F2;
$color-light: #f1f1f1;
$radius: .2rem;
$color-line: #D1D5DB;