@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "_variables.scss";
@import "_mixin.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: $color-white;
    font-family: "Quicksand", sans-serif;
    /*font-size: 62.5%;*/
    /*line-height: 2rem;*/
    font-weight: 500;
    color: $color-dark;
}

body.home .nav-link.home,
body.new .nav-link.new,
body.men .nav-link.men,
body.women .nav-link.women,
body.about .nav-link.about,
body.contact .nav-link.contact {
    color: $color-orange-1;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: $color-gray-1;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $color-gray-2;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 12px;
}

::selection {
    color: $color-white;
    background: $color-orange-1;
}

.btn {
    color: $color-white;
    font-weight: 500;
    font-family: inherit;
    border-radius: $radius;
}

.btn-orange {
    color: $color-white;
    background-color: $color-orange-1;
    border: 1px solid $color-orange-1;
    text-decoration: none;
    padding: .375rem 1.5rem;
    transition: 0.3s ease;
    position: relative;
    border-radius: $radius;
    /*margin-right: 1rem;*/
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    font-family: inherit;
    &:hover {
        color: $color-white;
    }
    &::before {
        content: '';
        position: absolute;
        @include setWidthHeight(100%);
        background-color: $color-orange-2;
        top: 0;
        left: 0;
        transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
        transform-origin: bottom left;
        transform: scaleX(0);
        z-index: -1;
    }

    &:hover::before {
        transform: scaleX(1);
        z-index: -1;
    }

    &:focus {
        color: $color-white;
        background-color: $color-orange-2;
        border-color: $color-orange-2;
        box-shadow: 0 0 0 0;
    }
}

.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem 3rem;
    border: 1px solid $color-gray-1;
    color: $color-dark;
    border-radius: 0;
    z-index: 100;
    background-color: $color-white;
    transition: .3s ease-in-out;
    &:hover {
        background-color: $color-orange-1;
        color: $color-white;
        border-color: $color-orange-1;
    }
}

.btn-size {
    color: $color-dark;
    background-color: $color-white;
    border: 1px solid $color-gray-1;
    border-radius: $radius;
    min-width: 3rem;
    margin: 0 .5rem .5rem 0;
    transition: .1s ease-in-out;
    
    &:hover {
        color: $color-white;
        background-color: $color-orange-1;
        border-color: $color-orange-1;
    }

    &.active {
        color: $color-white;
        background-color: $color-orange-1;
        border-color: $color-orange-1;
    }
}

.btn-caption {
    background-color: $color-white;
    color: $color-dark;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    transition: 0.3s ease;
    border: 1px solid $color-white;
    font-weight: 600;
    position: relative;
    border-radius: 0;
    outline: none;
    margin: .5rem 0;
    &:focus {
        outline: none;
        box-shadow: none;
        color: $color-orange-1;
    }

    &:hover {
        color: $color-orange-1;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 3px;
        border-left: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
        width: 100%;
        height: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 3px;
        right: -3px;
        border-right: 1px solid $color-white;
        border-top: 1px solid $color-white;
        width: 100%;
        height: 100%;
    }
}

.btn-no_border {
    color: $color-orange-1;
    border: 1px solid transparent;
    background-color: transparent;
    &:hover {
        color: $color-orange-1;
        font-weight: 600;
    }
}

.btn-add_cart {
    background-color: $color-orange-1;
    border: 1px solid $color-orange-1;
    border-radius: $radius;
    padding: 1rem;
    width: 100%;
    position: relative;
    z-index: 1;

    &:hover {
        color: $color-white;
    }

    &::before {
        content: '';
        position: absolute;
        @include setWidthHeight(100%);
        background-color: $color-orange-2;
        top: 0;
        left: 0;
        transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
        transform-origin: bottom left;
        transform: scaleX(0);
        z-index: -1;
    }

    &:hover::before {
        transform: scaleX(1);
        z-index: -1;
    }

    &:focus {
        color: $color-white;
        background-color: $color-orange-2;
        border-color: $color-orange-2;
        box-shadow: 0 0 0 0;
    }
}

.btn-light-custom {
    color: $color-dark;
    background-color: $color-white;
    border: 1px solid $color-dark;
    text-decoration: none;
    padding: .5rem 1.5rem;
    transition: 0.3s ease;
    position: relative;
    border-radius: $radius;
    /*margin-right: 1rem;*/
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    font-family: inherit;

    &:hover {
        color: $color-white;
        border-color: $color-orange-1;
    }

    &::before {
        content: '';
        position: absolute;
        @include setWidthHeight(100%);
        background-color: $color-orange-1;
        color: $color-dark;
        border-color: $color-orange-1;
        top: 0;
        left: 0;
        transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
        transform-origin: bottom left;
        transform: scaleX(0);
        z-index: -1;
    }

    &:hover::before {
        transform: scaleX(1);
        z-index: -1;
    }

    &:focus {
        color: $color-white;
        background-color: $color-orange-2;
        border-color: $color-orange-2;
        box-shadow: 0 0 0 0;
    }
}

.section__padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section__tittle {
    & h2 {
        @include setFont(2rem, $color-dark, 1.2);
        font-weight: bold;
        padding: 1rem 0;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    & p {
        margin-bottom: 2rem;
        @include setFont(1rem, $color-dark, 1.5);
    }
}

.section__img-bg {
    /*background: url("https://gstatic.gvn360.com/2021/10/Hoang-hon_-17-1536x864.jpg");*/
    background: url("https://gstatic.gvn360.com/2021/08/Ha-con-vuong-nang_-20-scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    & .section__tittle h2, & .section__tittle p {
        color: $color-white !important;
    }
}

.section__img {
    background-color: $color-white;
    & a {
        color: $color-dark !important;
    }
    & .single__product{
        background-color: $color-product !important;
    }
}

div:focus {
    outline: 0;
}

a:focus {
    outline: 0;
}

.tooltip {
    .tooltip-inner {
        /*background-color: $color-white;
        color: $color-dark;*/
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .arrow::before {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        /*border-color: $color-white;*/
    }
}

.owl-dots .owl-dot span {
    background: $color-dark !important;
    border-radius: 0 !important;
    display: block !important;
    height: 1px !important;
    /*transition: all .3s cubic-bezier(0.3,0,0,1);*/
    width: 18px !important;
}

.owl-dots .owl-dot.active span {
    height: 4px !important;
}

.btn-outline-secondary {
    color: $color-dark;
}

input[type=checkbox],
input[type=radio] {
    position: relative;
    font-size: inherit;
    width: 1em;
    margin: 0;
    color: $color-orange-1;
    outline: none;
    font-family: 'Font Awesome 5 Pro';
    transition: 300ms ease-out;
    visibility: hidden;

    &::after {
        content: '\f111'; // circle
        display: inline-block;
        text-align: center;
        width: 1em;
        visibility: visible;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:checked::after {
        font-weight: 900;
    }

    &:active {
        transform: scale(.6);
    }

    + span {
        margin-left: .35em;
    }
}

input[type=checkbox]:checked::after {
    content: '\f058'; // check-circle
}

input[type=radio]:checked::after {
    content: '\f192'; // dot-circle
}

.text-color {
    color: $color-orange-1;
}

/* Header */
.header {
    /*position: relative;*/
    z-index: 500;
    width: 100%;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .3s ease-in-out;

    &.sticky {
        position: sticky;
        top: 0;
        left: 0;
    }

    &.hasBg > div {
        background-color: $color-light-pink;
    }

    & > div {
        padding: 1rem 2rem;
        background-color: $color-white;
        /*position: absolute;
        top: 0;
        left: 0;*/
        width: 100%;
    }

    @include setFont(1rem);

    & .nav-item {
        &.active {
            & a {
                color: $color-orange-2;
            }
        }

        & a, .nav-link {
            color: $color-dark;
            font-weight: 600;
            margin-right: .75rem;
            text-transform: uppercase;
        }

        &:hover {
            & > a, & .nav-link {
                color: $color-orange-2;
            }
        }
    }

    & .navbar-brand {
        display: flex;
        align-items: center;

        & img {
            /*width: 5rem;*/
        }
    }

    & form {
        position: relative;
        background-color: $color-white;
        border-radius: $radius;

        & input, & button {
            height: 3rem;
            font-family: inherit;
            border: 0;
            font-size: 1.2rem;
        }

        & input {
            outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
            width: 100%;
            background: $color-white;
            padding: 0 1.6rem;
            border-radius: $radius;
            transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
            transition-property: width, border-radius;
            z-index: 1;
            position: relative;
        }

        & input:not(:placeholder-shown) {
            border-radius: $radius 0 0 $radius;
            width: calc(100% - 5rem);

            + button {
                display: block;
            }
        }

        input::-webkit-search-cancel-button {
            display: none;
        }

        & button {
            color: $color-white;
            display: none; // prevent being able to tab to it
            position: absolute;
            top: 0;
            right: 0;
            width: 5rem;
            font-weight: bold;
            background: $color-orange-1;
            border-radius: 0 $radius $radius 0;
        }
    }

    & .user__wrap {
        & .dropdown {
            display: none;

            &.active {
                display: inline-block;
            }
        }

        & .avatar {
            @include setWidthHeight(50px);
            border-radius: 50%;
            background-color: $color-orange-1;
            border: 1px solid $color-orange-1;
            padding: .1rem;

            & img {
                @include setWidthHeight(100%);
                border-radius: 50%;
            }
        }
    }

    & .dropdown-menu {
        background-color: $color-white;
        padding: 0;
        /*border-color: $color-orange-1;*/
        margin-top: .45rem;

        & .dropdown-item:not(:last-child) {
            border-bottom: 1px solid $color-line;
        }

        & span {
            cursor: default;
            user-select: none;
        }

        & a {
            font-weight: 600;
            color: $color-dark;
            transition: .3s ease-in-out;
            padding: 1rem 1.5rem;
            text-transform: capitalize;

            &.active {
                color: $color-orange-1;
                background-color: inherit;
            }

            &:not(.active):hover {
                color: $color-orange-1;
                padding-left: 2rem;
            }
        }
    }

    & .right {
        & .s003 {
            position: fixed;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            min-height: 100vh;
            z-index: 9999999;
            width: 100%;
            /*background: #f46b45;*/ /* fallback for old browsers */
            background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            & form {
                width: 100%;
                max-width: 790px;
                margin-bottom: 0;

                & .inner-form {
                    background: #fff;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    border-radius: 3px;

                    & .input-field {
                        height: 68px;

                        & input {
                            height: 100%;
                            background: transparent;
                            border: 0;
                            display: block;
                            width: 100%;
                            padding: 10px 32px;
                            font-size: 1rem;
                            color: $color-dark;
                            font-weight: 600;

                            &.placeholder {
                                color: $color-gray-1;
                                font-size: 1rem;
                            }

                            &:hover, &:focus {
                                box-shadow: none;
                                outline: 0;
                                border-color: $color-white;
                            }
                        }

                        &.first-wrap {
                            width: 200px;
                            border-right: 1px solid rgba(0, 0, 0, 0.1);

                            & .choices__inner {
                                background: transparent;
                                border-radius: 0;
                                border: 0;
                                height: 100%;
                                color: #fff;
                                display: flex;
                                align-items: center;
                                padding: 10px 30px;

                                & select {
                                    font-weight: 600;
                                    border-color: transparent;

                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }

                            & .choices[data-type*="select-one"]:after {
                                right: 30px;
                                border-color: #e5e5e5 transparent transparent transparent;
                            }
                        }

                        &.second-wrap {
                            -ms-flex-positive: 1;
                            flex-grow: 1;
                        }

                        &.third-wrap {
                            width: 74px;

                            & .btn-search {
                                height: 100%;
                                width: 100%;
                                white-space: nowrap;
                                color: #fff;
                                border: 0;
                                cursor: pointer;
                                background: $color-orange-1;
                                transition: all .2s ease-out, color .2s ease-out;
                            }

                            & .btn-search svg {
                                width: 16px;
                            }

                            & .btn-search:hover {
                                background: $color-orange-2;
                            }

                            & .btn-search:focus {
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }

        & button {
            position: relative;
            z-index: 1;
            cursor: pointer;
            padding: .25rem .35rem;
            font-size: 20px;
            line-height: 1;
            color: $color-dark;
            background: 0 0;
            border: none;
            display: inline-block;
            padding: 1rem;

            &.btn {
                margin-right: 0;
                color: $color-white;
            }

            & i {
                position: relative;
                @include setFont(1rem);
                z-index: 2;
            }

            & span {
                position: absolute;
                top: 0;
                right: 0;
                /*transform: translate(-50%, -50%);*/
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                @include setWidthHeight(1.2rem);
                background: $color-orange-1;
                color: $color-white;
                border-radius: 50%;
                z-index: 1;
            }
        }
    }
}

/* Cart */
.cart__wrap {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-white;
    z-index: 9999;
    height: 100%;
    overflow: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: .3s ease-in-out;
    transform: translateX(100%);

    & .cart__content {
        display: none;

        &.active {
            display: block;
        }
    }
        
    &.show {
        transform: translateX(0);
    }

    & + .cart__overlay {
        z-index: 1000;
        display: none;
        overflow: hidden;
        @include setWidthHeight(100%, 100vh);
        background-color: rgba(0, 0, 0, .4);
        position: fixed;
        top: 0;

        &.show {
            display: block;
        }
    }

    & .cart {
        position: relative;

        & .summary {
            & span {
                color: $color-orange-1;
            }
        }

        & .back {
            position: absolute;
            font-weight: bold;
            right: 0;
            height: auto;
            transition: transform .3s ease-in-out;
            padding: .5rem;

            &:hover {
                color: $color-orange-1;
                transform: rotate(90deg);
            }
        }

        & h1 {
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: $color-orange-1;
            padding: 1rem 0;
        }

        & .list__cart {
            & .list-group-item {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                padding-left: 0;
                padding-right: 0;
                border: none;
                border-top: 1px solid $color-line;

                & h2 {
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                }

                & .remove {
                    &:hover {
                        color: $color-orange-1;
                    }
                }
            }
        }
    }
}

/* Slideshow */
.slideshow {
    background-color: $color-light-pink;

    & .owl-nav {
        & button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3rem !important;
            width: 50px;
            height: 50px;
            display: flex !important;
            justify-content: center;
            align-items: center;

            & span {
                line-height: 1;
            }

            &:hover {
                background-color: transparent !important;
                color: $color-white !important;
            }
        }

        & .owl-prev {
            left: 0;
        }

        & .owl-next {
            right: 0;
        }
    }

    & .caption {
        position: absolute;
        top: 50%;
        left: 9%;
        /*transform: translate(-10%, -50%);*/
        transform: translateY(-50%);
        text-align: start;
        color: $color-white;

        & h4 {
            font-size: 3rem;
            text-transform: uppercase;
        }

        & p {
            text-transform:initial;
        }
        
    }

    & .owl-carousel, & .owl-item, & .owl-stage, & .owl-stage-outer {
        height: 100%;
        position: relative;
    }

    & .carousel {
        padding: 0;
    }

    & .carou-item {
        width: 100%;
        /*height: 100vh;*/
        height: 100%;

        & img {
            @include setWidthHeight(100%);
            object-fit: cover;
        }
    }
}

/* Services */
.services {
    flex-wrap: wrap;
    background-color: $color-light-pink;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);

    & .service {
        background-color: $color-white;
        border: 1px solid $color-gray-1;
        border-radius: $radius;
        height: 100%;
        cursor: pointer;
        padding: 1rem;
        transition: .3s ease-in-out;

        & .service__icon {
            font-size: 7rem;
            color: $color-orange-1;
            margin-bottom: 1rem;

            & i {
                position: relative;

                &::before {
                    position: relative;
                    z-index: 2;
                }

                &::after {
                    content: "";
                    @include setWidthHeight(100px);
                    position: absolute;
                    top: -25%;
                    right: -5%;
                    background-color: $color-orange-2;
                    border-radius: 50%;
                    opacity: .2;
                    z-index: 1;
                }
            }
        }

        & .service__cap {
            padding: 0 1rem;

            & h5 {
                font-size: 2rem;
                line-height: 3rem;
                padding: 1rem 0;
                font-weight: bold;
                transition: .3s ease-in-out;

                & a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            & p {
                padding: 1rem 0;
                @include setFont(1rem, $color-gray-2, 1.8);
            }
        }

        &:hover {
            border-color: transparent;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            & h5 {
                color: $color-orange-1;
            }
        }
    }
}

/* Client */
.client {
    border-bottom: 1px solid $color-gray-1;

    & .section__tittle {
        text-transform: uppercase;
    }

    & .nav-button {
        margin-bottom: 3rem;
    }

    & .nav-tabs {
        border-bottom: 1px solid $color-gray-1;
        border-top: 1px solid $color-gray-1;

        & .nav-link {
            color: $color-white;
            font-size: 1.3rem;
            font-weight: bold;
            margin-right: 1.5rem;
            border: none;
            border-bottom: 4px solid transparent;
            transition: .3s ease-in-out;
            cursor: default;
            background: transparent;

            &:hover {
                color: $color-orange-1 !important;
                border: none;
                border-bottom: 4px solid $color-orange-1;
            }
        }

        & .nav-link.active {
            color: $color-orange-1 !important;
            border: none;
            border-bottom: 4px solid $color-orange-1;
        }
    }

    & .products__wrapper {
        border-radius: 1rem;

        & .owl-stage {
            display: flex;

            & .product__wrap {
                display: flex;
                flex: 1 0 auto;
                height: 100%;
            }
        }

        & .owl-stage-outer {
            border-radius: $radius;
            /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
        }

        & .slick-slide {
            padding: 0;
            overflow: hidden;
            margin: 0 1rem;
        }

        & .single__product {
            /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
            background-color: $color-white;
            color: $color-dark;
            border-radius: $radius;
            padding: 2rem;
                min-height: 400px;
            & .single__img {
                position: relative;
                display: flex;
                justify-content: center;
                min-width: 150px;
                margin: 2rem;
                border: 1px solid transparent;
                border-radius: 50%;
                overflow: hidden;

                & img {
                    width: 100%;
                    /*border: 1px solid red;*/
                    border-radius: 50% !important;
                    object-fit: cover;
                    transition: .3s ease-in-out;
                    transform: scale(1);

                }
                &:hover {
                    & img {
                        transform: scale(1.2);

                    }
                }

                & > div {
                    position: absolute;
                    color: $color-white;
                    background-color: $color-orange-1;
                    font-weight: 600;
                    @include setWidthHeight(50px);
                    font-size: 1.2rem;
                    bottom: 22%;
                    right: 25%;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            & .product__caption {
                & h5 {
                    font-weight: 600;
                    padding: 1rem 0;
                    font-size: 1rem;

                    & a {
                        color: $color-dark;

                        &:hover {
                            color: $color-orange-1;
                        }
                    }
                }

                & p {
                    padding: 1rem 0;
                }

                & .btn-link {
                    color: $color-orange-1 !important;
                    padding: 1rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    transition: .3s ease-in-out;
                    border-bottom: 2px solid $color-orange-1;

                    &:hover {
                        text-decoration: none;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/* Products show */
.products {
    padding: 0 2rem;

    &.container {
        padding: 1rem 0;
    }

    & .left__column {
        & .collapse__wrap {
            user-select: none;

            & .collapse__title {
                font-size: 1rem;
                cursor: pointer;
                position: relative;
                font-weight: 600;
                padding: 0 13px 1rem 0;
                border-bottom: 1px solid $color-gray-1;

                &::after {
                    content: '\f068';
                    font-family: "Font Awesome 5 Pro";
                    position: absolute;
                    text-transform: lowercase;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: auto;
                    color: $color-dark;
                }

                &:hover {
                    color: $color-orange-1;

                    &::after {
                        color: $color-orange-1;
                    }
                }
            }

            & .collapse__content {
                padding: .5rem 0 2rem 0;

                & ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    & li {
                        padding-bottom: .5rem;

                        &.active {
                            & a {
                                color: $color-orange-1;
                            }
                        }

                        & a {
                            color: $color-dark;
                            display: inline-block;
                            width: 100%;
                            height: 100%;

                            &:hover {
                                color: $color-orange-1;
                            }
                        }
                    }
                }
            }
        }

        & .scrollWidget__progress {
            position: relative;

            & button {
                position: absolute;
                top: 0;
                transform: translateY(-50%);
                @include setWidthHeight(25px);
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border: 1px solid $color-line;
                z-index: 5;
            }

            &-right {
                right: 0;
            }

            &-line {
                margin: 1.5rem 0;
                width: 100%;
                height: 2px;
                position: relative;
                background-color: $color-line;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color-orange-1;
                }
            }
        }
    }

    & .right__head {
        & h1 {
            font-size: 1.8rem;
        }
    }

    & .tools {
        display: inline-flex;
        margin: 1rem 0;
        align-items: center;

        & .btn-orange {
            padding: .5rem .75rem;
            margin-left: 1rem;
        }
    }

    & .products__wrap {
        /*& > div {
            height: 100%;
        }*/
        & .single__product {
            margin-bottom: 1rem;
            border-radius: $radius;
            transition: .2s ease-in-out;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                & img {
                    transform: scale(1.125);
                }

                & .overlay {
                    display: block !important;
                    opacity: 1 !important;
                    transition: .2s ease-in-out;

                    & a {
                        top: 80% !important;
                        opacity: 1 !important;
                    }
                }
            }

            & .single__img {
                overflow: hidden;
                border-radius: $radius;
                position: relative;

                & img {
                    border-radius: $radius;
                    transition: .2s ease-in-out;
                }

                & .overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    background-color: rgba(0, 0, 0, .2);

                    & a {
                        font-size: 1rem;
                        padding: .5rem 1rem;
                        position: absolute;
                        transition: .2s ease-in-out;
                        top: 100%;
                        left: 50%;
                        opacity: 0;
                        transform: translate(-50%, -80%);
                    }
                }
            }

            & .product__caption {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .75rem;

                & h5 {
                    font-weight: 600;
                    text-align: start;
                    font-size: 1rem;
                    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

                    & a {
                        color: $color-dark;
                        text-decoration: none;
                    }

                    &:hover {
                        & a {
                            color: $color-orange-1;
                        }
                    }
                }

                & .numbering {
                    padding-left: 1rem;
                    color: $color-orange-1;
                    font-size: 1rem;
                    font-weight: 600;
                    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
                    /*padding: .5rem;*/
                }
            }
        }
    }
}

/* Product details */
.product__details__wrapper {
    & .product__wrapper {
        background-color: $color-light-pink;
    }

    & .owl-nav {
        & button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3rem !important;
            width: 50px;
            height: 50px;
            display: flex !important;
            justify-content: center;
            align-items: center;

            & span {
                line-height: 1;
            }

            &:hover {
                background-color: transparent !important;
                color: $color-orange-1 !important;
            }
        }

        & .owl-prev {
            left: 0;
        }

        & .owl-next {
            right: 0;
        }
    }

    & .product__visual {
        position: relative;

        & ul {
            list-style: none;

            & li {
                position: relative;
                height: 100vh;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        & .btn-slide {
            position: absolute;
            @include setPositionCenter();
            display: flex;
            justify-content: space-between;
            width: 100%;

            & button {
                background-color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2rem 2rem;
                border: 1px solid $color-gray-1;

                &:hover {
                    background-color: $color-orange-1;
                    color: $color-white;
                    border-color: $color-orange-1;
                }
            }
        }
    }

    & .product__details {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        border-left: 1px solid $color-line;

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            padding-bottom: 1rem;
            margin-bottom: .5rem;

            & i {
                display: none;

                &.active {
                    display: inline-block;
                }
            }
        }

        &-title h1 {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;
            padding-bottom: 1rem;
            margin-bottom: .5rem;
            border-bottom: 1px solid $color-line;
        }

        &-color {
            padding: 1rem 0;
            cursor: default;
            border-bottom: 1px solid $color-line;

            & .dropdown-toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & span:first-child {
                    display: flex;
                    align-items: center;
                    font-weight: 600;

                    & i {
                        transform: rotate(-90deg);
                        padding: 0 .5rem;
                        transition: .3s ease-in-out;
                    }
                }

                &::after {
                    display: none;
                }
            }

            & .dropdown-menu {
                padding: 0;
                border-radius: .5rem;

                & .dropdown-item:not(:last-child) {
                    border-bottom: 1px solid $color-line;
                }

                & .dropdown-item {
                    padding: 1rem 1.5rem;
                    color: $color-dark;
                    background-color: $color-white;
                    transition: .3s ease-in-out;
                    cursor: default;
                    font-weight: 600;
                    cursor: pointer;

                    &.active {
                        color: $color-orange-1;
                    }

                    &:hover {
                        color: $color-orange-1;
                        padding-left: 2rem;
                    }
                }
            }
        }

        &-size {
            margin: 1rem 0;
            border-bottom: 1px solid $color-line;

            & > ul {
                padding: 1rem 0;
            }
        }

        &-price {
            font-size: 1.2rem;
            font-weight: bold;
            color: $color-orange-1;
            padding: 1rem 0;
            margin-bottom: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .stock {
                display: none;
                font-size: 1rem;
                color: $color-dark;

                &.in__stock {
                    & i {
                        color: var(--success);
                        text-shadow: 0px 0px 10px var(--success);
                    }
                }

                &.not__in__stock {
                    & i {
                        color: var(--danger);
                        text-shadow: 0px 0px 10px var(--danger);
                    }
                }

                &.active {
                    display: inline-block;
                }
            }
        }

        &-add_cart {
            margin-bottom: 2rem;
        }

        &-description {
            text-align: left;
            margin: 1rem 0;
            font-weight: 400;
            line-height: 2;

            & h2 {
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}

/* Payment */
.payment-content {
    & .payment-wrapper {
        & .bar-address {
            height: 3px;
            width: 100%;
            background-position-x: -30px;
            background-size: 116px 3px;
            background-image: repeating-linear-gradient( 45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px );
        }

        & .delivery__address {
            & .card-header_left {
                color: $color-orange-1;
            }

            & .card-header_left {
                & btn {
                    color: $color-dark;

                    &:hover {
                        background-color: inherit;
                    }

                    &:active {
                        background-color: inherit !important;
                    }
                }
            }

            & li input,
            & li label {
                cursor: pointer;
            }
        }

        & .products__cart {
            margin-top: 1rem;

            & .products__cart-head {
                & > div:nth-child(1) {
                    font-weight: bold;
                    color: $color-orange-1;
                    flex: 4;
                    font-size: 1.4rem;
                }

                & > div:nth-child(2) {
                    flex: 2;
                }

                & > div:nth-child(3),
                & > div:nth-child(4),
                & > div:nth-child(5) {
                    text-align: center;
                    flex: 1;
                }
            }

            & .card-body {
                & li {
                    min-height: 55px;

                    & > div:nth-child(1) {
                        flex: 4;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        & span {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        & picture {
                            width: 40px;
                            height: 40px;

                            & img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    & > div:nth-child(2) {
                        flex: 2;
                    }

                    & > div:nth-child(3),
                    & > div:nth-child(4),
                    & > div:nth-child(5) {
                        flex: 1;
                        text-align: center;
                    }
                }
            }
        }

        & .dra__voucher {
            & i {
                color: $color-orange-1;
                font-size: 1.2rem;
                padding: 0 .5rem;
            }
        }

        & .card__payment-details {
            & .card-body {
                background-image: url('https://i.pinimg.com/originals/22/a2/c4/22a2c4b497f89105896f4d972f09e498.jpg');
                background-size: contain;
                background-position: left;
                background-repeat: no-repeat;
            }

            & .card__payment-content {
                display: grid;
                grid-template-columns: 1fr max-content max-content;
                grid-template-rows: auto;
                grid-gap: 10px;

                & .title {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    font-size: 1rem;
                    padding: .5rem 0;
                    color: $color-dark;
                    text-decoration: underline;
                    cursor: default;
                }

                & .price {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    padding: 0.5rem 1rem;
                    color: $color-gray-1;

                    &.text-big {
                        font-size: 1.2rem;
                        color: $color-orange-1;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    & #ModalAddAddress {
        & .form-add {
            & > div {
                position: relative;
                user-select: none;

                & input[type=text], & select {
                    color: $color-dark;
                    font-weight: 500;

                    & + label {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 2rem;
                        transition: .2s ease-in-out;
                        color: $color-orange-1;
                    }

                    &:focus,
                    &:valid {
                        & + label {
                            top: 15%;
                            background-color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

/* Order customer */
.order__main {
    & .order__wrapper {
        background-color: $color-light-pink;

        & .avatar__wrap {
            & .avatar {
                @include setWidthHeight(50px);
                border-radius: 50%;
                overflow: hidden;
                padding: .1rem;
                border: 1px solid $color-orange-1;
            }

            & a {
                color: $color-gray-1;
            }
        }

        & hr {
            background-color: $color-light;
            width: 90%;
            margin: 2rem auto;
        }

        & .list__options {
            & li {
                padding-bottom: .5rem;

                & i {
                    width: 1.25rem;
                    height: 1.25rem;
                    margin-right: .5rem;
                    color: $color-orange-2;
                    font-weight: bold;
                }

                &.active {
                    & a {
                        color: $color-orange-1;
                    }
                }

                & a {
                    color: $color-dark;
                    text-decoration: none;

                    &:hover {
                        color: $color-orange-1;
                    }
                }
            }
        }

        & .order__right {
            & .card-header {
                justify-content: space-between;
                padding: 0;
                width: 100%;
                background-color: $color-white;

                & .nav-link {
                    border: none;
                    color: $color-dark;
                    background-color: transparent;
                    cursor: default;
                    padding: 1rem 0;
                    width: calc(100% / 5);
                    text-align: center;

                    &.active {
                        border-bottom: 2px solid $color-orange-1;
                        color: $color-orange-1 !important;
                    }

                    &:hover {
                        color: $color-orange-1;
                        /*border-color: transparent;*/
                    }
                }
            }

            & .list__orders {
                &-item {
                    padding: 1rem 0.5rem;
                    margin-bottom: .5rem;
                    transition: .3s ease-in-out;
                    border: 1px solid $color-product;
                    border-radius: $radius;

                    &.active {
                        background-color: $color-light;
                    }

                    &:hover {
                        background-color: $color-light;
                    }
                }

                & .collapse {
                    border: 1px solid $color-light;
                    padding: 1rem;

                    & .order-address {
                        padding: .5rem 0;
                        overflow: hidden;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    & li {
                        & picture {
                            min-width: 50px;
                            min-height: 50px;
                            max-width: 100px;
                            max-height: 100px
                        }

                        &:hover {
                            background-color: $color-light;
                        }
                    }
                }
            }
        }

        & .status {
            border-radius: 1rem;
            padding: .25rem .5rem;
            background-color: $color-orange-1;
            color: $color-white;
        }
    }
}

/* Footer */
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding: 60px;
    background-color: $color-light-pink;

    & .row {
        margin-left: -25px;
        margin-right: -25px;

        .single-footer-widget {
            position: relative;
            z-index: 1;

            & .copywrite-text a {
                color: #747794;
                font-size: 1rem;

                &:hover, &:focus {
                    color: $color-orange-1;
                }
            }

            & .widget-title {
                margin-bottom: 1.5rem;
            }

            & .footer_menu li a {
                color: #747794;
                margin-bottom: 1rem;
                display: block;
                font-size: 1rem;

                &:hover, &:focus {
                    color: $color-orange-1;
                }
            }

            .footer_menu li:last-child a {
                margin-bottom: 0;
            }
        }

        & .footer_social_area {
            position: relative;
            z-index: 1;

            & a {
                border-radius: 50%;
                height: 40px;
                text-align: center;
                width: 40px;
                display: inline-block;
                background-color: $color-gray-1;
                line-height: 40px;
                -webkit-box-shadow: none;
                box-shadow: none;
                margin-right: 10px;
                color: $color-white;

                & i {
                    line-height: 36px;
                }

                &:hover, &:focus {
                    color: $color-orange-1;
                }
            }
        }
    }

    ol li, ul li {
        list-style: none;
    }

    ol, ul {
        margin: 0;
        padding: 0;
    }
}

/* Pagination */
.pagination {
    justify-content: center;
    margin: 1rem 0;
    & li {
        border-radius: $radius;

        &.disabled {
            & a {
                color: $color-gray-1;
            }
            &:hover {
                background-color: $color-gray-1;
                & a {
                    color: $color-dark;

                }
            }
        }

        &.active {
            background-color: $color-orange-1;

            & a {
                color: $color-white;
            }
        }

        & a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            font-size: 1rem;
            font-weight: 500;
            color: $color-dark;
            min-width: 2rem;
        }

        &:hover {
            background-color: $color-orange-1;

            & a {
                color: $color-white;
                text-decoration: none;
            }
        }
    }
}

/* Feature */
.feature__wrap {
    background-color: $color-light;
    & i {
        font-size: 3rem;
        color: $color-orange-1;
    }
    & .feature__item {
        flex: 1;

        & > div {
            margin-right: 1rem;

            & h1 {
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                & a {
                    color: $color-dark;
                    text-decoration: none;

                    &:hover {
                        color: $color-orange-1;
                    }
                }
            }
            & span {
                font-size: 1rem;
            }
        }
    }
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

                    