
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<div class="slideshow d-flex" ng-controller="SlideShowController">
    <div class="carousel slide w-100">
        <div class="owl-carousel owl-theme">
            <div class="carou-item">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/ss22-ivp-5-educate-hp-d_tcm221-817447.jpg" alt="slide1" />
                <div class="caption d-none d-md-block">
                    <h4>Halls of ivy</h4>
                    <button class="btn btn-caption">EXPLORE MORE <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button>
                </div>
            </div>
            <div class="carou-item">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/holiday-fw21-ss22-ch3-digital-hp-masthead-large-d_tcm221-817797.jpg" alt="slide2" />
               
                <div class="caption d-none d-md-block">
                    <h4>THE SEASON TO BE <br />JOYFUL</h4>
                    <p>Oberlo allows you to easily import dropshipped products directly into your ecommerce store</p>
                    <button class="btn btn-caption">Show men <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button> <br/>
                    <button class="btn btn-caption">Show women <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button> <br/>
                </div>
            </div>
            <div class="carou-item">
                <div>
                    <video class="w-100">
                        <source type="audio/mp4" src="https://cdn.shopify.com/s/files/1/0130/5041/3114/files/i_video.mp4?v=1531219306" />
                        <source type="audio/ogg" src="https://cdn.shopify.com/s/files/1/0130/5041/3114/files/i_video.mp4?v=1531219306" />
                    </video>
                </div>
                @*<img src="~/Content/images/slide3.jpg" alt="slide3" />*@
                <div class="caption d-none d-md-block">
                    <h4>Find Products for <br /> Your Shop</h4>
                    <p>Oberlo allows you to easily import dropshipped products directly into your ecommerce store</p>
                    <button class="btn btn-caption">Show Now <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services section__padding section__img-bg">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-xl-7 col-lg-8 col-md-11">
                <div class="section__tittle text-center mb-70">
                    <h2>Chose your style</h2>
                    <p>Fashion you can buy, but style you possess. <br />
                    The key to style is learning who you are, which takes years.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 my-4"  data-aos="fade-up">
                <div class="service text-center">
                    <div class="service__icon">
                        <i class="fal fa-cat-space"></i>
                    </div>
                    <div class="service__cap">
                        <h5>Classic</h5>
                        <p>
                            Classic style is an umbrella term for a polished everyday style that incorporates elements of workwear, 
                            such as blazers, pencil skirts, and khakis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-4"  data-aos="fade-down">
                <div class="service text-center">
                    <div class="service__icon">
                        <i class="fal fa-street-view"></i>
                    </div>
                    <div class="service__cap">
                        <h5>Streetwear</h5>
                        <p>
                            Streetwear takes inspiration from both hip-hop and skater style, 
                            with the added element of intentional product scarcity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-4"  data-aos="fade-up">
                <div class="service text-center">
                    <div class="service__icon">
                        <i class="fal fa-futbol"></i>
                    </div>
                    <div class="service__cap">
                        <h5>Sporty</h5>
                        <p>
                            Sporty style, also known as athleisure, 
                            takes elements of athletic wear, like leggings, 
                            bike shorts, and oversize sweatshirts, out of the gym and onto the streets.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="client section__padding section__img" ng-controller="ClientSlideController" id="new">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 text-center">
                <div class="section__tittle">
                    <h2>New</h2>
                    <p>Fashion you can buy, but style you possess.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="nav-button">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" href="#nav-new-men" id="men-tab" data-toggle="tab" role="tab">Men</a>
                            <a class="nav-link" href="#nav-new-women" id="women-tab" data-toggle="tab" role="tab">Women</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="client" class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-new-men" role="tabpanel" aria-labelledby="men-tab">
                @*<div class="items-active slick-slider products__wrapper">*@
                <div class="items-active owl-carousel owl-theme products__wrapper">
                    <div @*class="col-lg-4 col-md-6 col-sm-6"*@ class="product__wrap"
                         ng-repeat="item in productsNewMen">
                        <div class="single__product text-center">
                            <div class="single__img">
                                <img ng-src="{{item.image_avatar}}" alt="">
                                <div class="numbering">${{item.price.price_current}}</div>
                            </div>
                            <div class="product__caption">
                                <h5>
                                    <a href="/Detail/Index" ng-click="goDetail(item._id)">
                                        {{item.name}}
                                    </a>
                                </h5>
                                <a href="/Detail/Index" ng-click="goDetail(item._id)"
                                   class="btn btn-link">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-new-women" role="tabpanel" aria-labelledby="women-tab">
                <div class="items-active owl-carousel owl-theme products__wrapper">
                    <div ng-repeat="item in productsNewWomen">
                        <div class="single__product text-center">
                            <div class="single__img">
                                <img ng-src="{{item.image_avatar}}" alt="">
                                <div class="numbering">${{item.price.price_current}}</div>
                            </div>
                            <div class="product__caption">
                                <h5>
                                    <a href="/Detail/Index" ng-click="goDetail(item._id)">
                                        {{item.name}}
                                    </a>
                                </h5>
                                <a href="/Detail/Index" ng-click="goDetail(item._id)"
                                   class="btn btn-link">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="client section__padding section__img" ng-controller="ClientSlideController" id="hot">
    <div class="container"
         ng-if="productsHotWomen.length > 0 || productsHotMen.length > 0">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6 col-md-6">
                <div class="section__tittle">
                    <h2>Best Selling</h2>
                    <p>Fashion you can buy, but style you possess.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 text-right align-self-center">
                <button class="btn btn-orange">Our Products</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="nav-button">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" href="#nav-hot-men" id="men-tab" data-toggle="tab" role="tab" 
                               ng-if="productsHotMen.length > 0">Men</a>
                            <a class="nav-link" href="#nav-hot-women" id="women-tab" data-toggle="tab" role="tab"
                               ng-if="productsHotWomen.length > 0">Women</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="client" class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-hot-men" role="tabpanel" aria-labelledby="men-tab"
                 ng-if="productsHotMen.length > 0">
                @*<div class="items-active slick-slider products__wrapper">*@
                <div class="items-active owl-carousel owl-theme products__wrapper">
                    <div @*class="col-lg-4 col-md-6 col-sm-6"*@ class="product__wrap"
                         ng-repeat="item in productsHotMen">
                        <div class="single__product text-center">
                            <div class="single__img">
                                <img ng-src="{{item.image_avatar}}" alt="">
                                <div class="numbering">${{item.price.price_current}}</div>
                            </div>
                            <div class="product__caption">
                                <h5>
                                    <a href="/Detail/Index" ng-click="goDetail(item._id)">
                                        {{item.name}}
                                    </a>
                                </h5>
                                <a href="/Detail/Index" ng-click="goDetail(item._id)"
                                   class="btn btn-link">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-hot-women" role="tabpanel" aria-labelledby="women-tab"
                 ng-if="productsHotWomen.length > 0">
                <div class="items-active owl-carousel owl-theme products__wrapper">
                    <div ng-repeat="item in productsHotWomen">
                        <div class="single__product text-center">
                            <div class="single__img">
                                <img ng-src="{{item.image_avatar}}" alt="">
                                <div class="numbering">${{item.price.price_current}}</div>
                            </div>
                            <div class="product__caption">
                                <h5>
                                    <a href="/Detail/Index" ng-click="goDetail(item._id)">
                                        {{item.name}}
                                    </a>
                                </h5>
                                <a href="/Detail/Index" ng-click="goDetail(item._id)"
                                   class="btn btn-link">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="client section__padding section__img" ng-controller="ClientSlideController" id="discount">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6 col-md-6">
                <div class="section__tittle">
                    <h2>Best Discount</h2>
                    <p>Fashion you can buy, but style you possess.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 text-right align-self-center">
                <button class="btn btn-orange">Our Products</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="nav-button">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" href="#nav-discount-men" id="men-tab" data-toggle="tab" role="tab">Men</a>
                            <a class="nav-link" href="#nav-discount-women" id="women-tab" data-toggle="tab" role="tab">Women</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="client" class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-discount-men" role="tabpanel" aria-labelledby="men-tab">
                @*<div class="items-active slick-slider products__wrapper">*@
                <div class="items-active owl-carousel owl-theme products__wrapper">
                    <div @*class="col-lg-4 col-md-6 col-sm-6"*@ class="product__wrap"
                         ng-repeat="item in productsDiscountMen">
                        <div class="single__product text-center">
                            <div class="single__img">
                                <img ng-src="{{item.image_avatar}}" alt="">
                                <div class="numbering">${{item.price.price_current}}</div>
                            </div>
                            <div class="product__caption">
                                <h5>
                                    <a href="/Detail/Index" ng-click="goDetail(item._id)">
                                        {{item.name}}
                                    </a>
                                </h5>
                                <a href="/Detail/Index" ng-click="goDetail(item._id)"
                                   class="btn btn-link">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-discount-women" role="tabpanel" aria-labelledby="women-tab">
                <div class="items-active owl-carousel owl-theme products__wrapper">
                    <div ng-repeat="item in productsDiscountWomen">
                        <div class="single__product text-center">
                            <div class="single__img">
                                <img ng-src="{{item.image_avatar}}" alt="">
                                <div class="numbering">${{item.price.price_current}}</div>
                            </div>
                            <div class="product__caption">
                                <h5>
                                    <a href="/Detail/Index" ng-click="goDetail(item._id)">
                                        {{item.name}}
                                    </a>
                                </h5>
                                <a href="/Detail/Index" ng-click="goDetail(item._id)"
                                   class="btn btn-link">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature__wrap">
    <div class="d-flex align-items-start justify-content-between section__padding container">
        <div class="d-flex feature__item align-items-start">
            <div>
                <i class="fal fa-headphones-alt"></i>
            </div>
            <div>
                <h1><a href="#">Support 24/7</a></h1>
                <span>Contact us 24 hours a day, 7 days a week</span>
            </div>
        </div>
        <div class="d-flex feature__item align-items-start">
            <div>
                <i class="fal fa-share"></i>
            </div>
            <div>
                <h1><a href="#">30 DAYS RETURN</a></h1>
                <span>
                    Simply return it within 24 days for an exchange.
                </span>
            </div>
        </div>
        <div class="d-flex feature__item align-items-start">
            <div>
                <i class="fal fa-truck"></i>
            </div>
            <div>
                <h1><a href="#">FREE SHIPPING</a></h1>
                <span>
                    Free shipping on all US order or order above $99
                </span>
            </div>
        </div>
    </div>

</div>